HeaderFilterRegex: '.*'

FormatStyle: none

Checks: >
  clang-analyzer-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,

  cert-*,

  hicpp-*,

  google-*,
  -google-readability-namespace-comments,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-build-using-namespace,

  readability-*,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-redundant-member-init,
  -readability-redundant-access-specifiers,
  -readability-redundant-inline-specifier,

  modernize-*,
  -modernize-use-trailing-return-type,

  performance-*,
  -performance-avoid-endl,
  -performance-unnecessary-value-param,

  portability-*,

  bugprone-*,

  concurrency-*,

  misc-*,
  -misc-include-cleaner,
  -misc-unused-using-decls,
  -misc-definitions-in-headers,
  -misc-no-recursion,

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase

  - key: readability-identifier-naming.ClassCase
    value: CamelCase

  - key: readability-identifier-naming.StructCase
    value: CamelCase

  - key: readability-identifier-naming.UnionCase
    value: CamelCase

  - key: readability-identifier-naming.EnumCase
    value: CamelCase

  - key: readability-identifier-naming.MemberCase
    value: CamelCase
  - key: readability-identifier-naming.MemberPrefix
    value: m_

  - key: readability-identifier-naming.PublicMemberCase
    value: CamelCase

  - key: readability-identifier-naming.MethodCase
    value: CamelCase
