BasedOnStyle: Microsoft

UseTab: Never
IndentWidth: 4
ColumnLimit: 0

SortIncludes: "CaseInsensitive"
SortUsingDeclarations: false

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^(<pch\.h>)$'
    Priority: -2000
  - Regex: '^("pch\.h")$'
    Priority: -1000
  - Regex: '^(<.*>)$'
    Priority: 1000
  - Regex: '^(".*")$'
    Priority: 2000

IncludeIsMainRegex: '$^'
IncludeIsMainSourceRegex: '$^'

BreakBeforeBraces: Attach

NamespaceIndentation: All
FixNamespaceComments: false

IndentAccessModifiers: false
AccessModifierOffset: 0

InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: false
