# --- Host ---
build --host_platform=//platforms:windows_x64

# --- Language ---
build --copt=/std:c++17
build --copt=/Zc:preprocessor
build --copt=/Zc:__cplusplus

# --- Debug ---
build:windows_x64_debug --platforms=//platforms:windows_x64
build:windows_x64_debug --compilation_mode=dbg
build:windows_x64_debug --strip=never
build:windows_x64_debug --copt=/Od
build:windows_x64_debug --linkopt=/DEBUG
build:windows_x64_debug --define=DEBUG=1

# --- Release ---
build:windows_x64_release --platforms=//platforms:windows_x64
build:windows_x64_release --compilation_mode=opt
build:windows_x64_release --strip=always
build:windows_x64_release --copt=/O2
build:windows_x64_release --linkopt=/INCREMENTAL:NO
build:windows_x64_release --define=NDEBUG=1
